<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Thoughts Collected" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/homepage.css" />
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="container">
      {{ content }}
      <hr>
      <p>Subscribe to receive email updates!</p>
      <form class="email-form" name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field">
        <div hidden aria-hidden="true">
          <label>
            Don’t fill this out if you're human: 
            <input name="bot-field" />
          </label>
        </div>
        <label for="email">Your email address</label>
        <div>
          <input type="email" name="email" placeholder="Email"  id="email" required />
          <button type="submit">Subscribe</button>
        </div>
      </form>
      <br>
      <hr>


      <h3 class="category">Posts:</h3>
      <ul class="posts">
        {% for post in collections.posts reversed %}
        <li class="post">
          <span class="post-title">
            {% if post.data.externalLink %}
            <a href="{{ post.data.externalLink }}" target="__blank">{{ post.data.title }}</a>
            {% else %}
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            {% endif %}
          </span>
          <span class="post-date">
            {{ post.date | date: '%b %Y' }}
          </span>
        </li>
        {% endfor %}
      </ul>
      <br>
      

    </div>

  </body>
</html>
